<h1>{{title}}</h1>
<button routerLink="/about">About</button>
<span *ngIf="authService.loggedIn==false">
    <button routerLink="/guest">Guest </button>
</span>
<span *ngIf="authService.loggedIn==true">
    <button routerLink="/secure">Secure </button>
    <span *ngIf="authService.user.admin==true">
        <button routerLink="/admin">Admin </button>
    </span>
</span>
<span *ngIf="authService.loggedIn==false" class="alignRight">
    <label>Email:
      <input [(ngModel)]="email" placeholder="Email"/>
    </label>
    <label>Password:
        <input [(ngModel)]="password" placeholder="Password" type="password"/>
    </label>
    <button
    (click)="login()" >Login
    </button>
    <button routerLink="/register">
        Register
    </button>
    <input type="button" onclick="window.location.href='api/auth/google';" value="Google" />
</span>
<span *ngIf="authService.loggedIn==true" class="alignRight">
    Hello {{authService.user.name}}
    <button
    (click)="logout()" >Logout
    </button>
</span>