<h1>{{title}}</h1>
<button pButton type="button" label="About" routerLink="/about"></button>
<button pButton type="button" label="Guest" routerLink="/guest"></button>
<span *ngIf="authService.loggedIn==true">
    <button pButton type="button" label="Secure" routerLink="/secure"></button>
    <span *ngIf="authService.user.admin==true">
        <button pButton type="button" label="Admin" routerLink="/admin"></button>
    </span>
</span>
<span *ngIf="authService.loggedIn==false" class="alignRight">
    <input pInputText [(ngModel)]="email" placeholder="Email"/>
    <input pInputText [(ngModel)]="password" placeholder="Password" type="password"/>
    <button pButton type="button" label="Login" (click)="login()"></button>
    <button pButton type="button" label="Register" routerLink="/register"></button>
    <button pButton type="button" label="Google" onclick="window.location.href='api/auth/google';"></button>
</span>
<span *ngIf="authService.loggedIn==true" class="alignRight">
    Hello {{authService.user.name}}
    <button pButton type="button" label="Logout" (click)="logout()"></button>
</span>