<br><br>
<div class=row>
    <div class=column>
        <div class=contentbox>
            <input pInputText [(ngModel)]="subject" placeholder="Subject"/>
            <br>
            <input pInputText [(ngModel)]="course" placeholder="Course"/>
            <br>
            <button pButton type="button" label="Search" (click)="mainSearch()"></button>
        </div>
    </div>
    <app-expandable-table-with-buttons 
        [data]=secureService.listTimetableResults 
        [heading]=listObj.Header 
        [keysFilter]=listObj.Filter 
        [uniqueKey]=listObj.Unique
        [buttons]=listObj.buttons
        (actionEvent)=executeButtonAction($event)></app-expandable-table-with-buttons>
</div>
<div class=row>
    <app-expandable-table-with-buttons 
        [data]=openService.searchResults 
        [heading]=resultObj.Header 
        [keysFilter]=resultObj.Filter 
        [uniqueKey]=resultObj.Unique
        [expandColumn]=resultObj.ExpandColumn
        [expandKey]=resultObj.ExpandKey
        [expandHeading]=resultObj.ExpandHeading
        [buttons]=resultObj.buttons
        (actionEvent)=executeButtonAction($event)></app-expandable-table-with-buttons>
</div>

<p-dialog [header]="'Enter year for '+yearInp.subject+' '+yearInp.course" [(visible)]="yearInp.visible">
    <select [(ngModel)]="yearInp.content">
        <option [value]=1 selected>1</option>
        <option [value]=2>2</option>
        <option [value]=3>3</option>
        <option [value]=4>4</option>
        <option [value]=5>5</option>
        <option [value]=6>6</option>
    </select><br>
    <button pButton type="button" label="Submit" (click)="submitYear()"></button>
</p-dialog>