<p>Welcome to Western Timetable application !!</p>
<p>This application by Chaitanya Kadian allows users to find courses, and plan their timetables.</p>
<p>As a guest you can search for public timetables, get information and reviews for courses, and register for an account.<br>
You will need to verify your email, by clicking the verification link that you receive in your email.</p>
<p>Registering and logging in as an authenticated user allows you to create upto 20 timetables. <br>
You can list the timetables as public, or let them remain private. 
You can get all information about courses in a timetable in a succint page.
<br>Furthermore, you can provide reviews for courses.</p>
<p>There is usage for administrators which has not been disclosed for security purposes.</p>