<br><br>
<div class=row>
    <div class=column>
        <div class=contentbox>
            <input pInputText [(ngModel)]="subject" placeholder="Subject"/>
            <input pInputText [(ngModel)]="course" placeholder="Course"/>
            <button pButton type="button" label="Search" (click)="mainSearch()"></button>
        </div>
        <div class=contentbox>
            <input pInputText [(ngModel)]="keyword" placeholder="Keyword"/>
            <button pButton type="button" label="Search" (click)="keywordSearch()"></button>
        </div>
    </div>
    <app-expandable-table-with-buttons 
        [data]=openService.getResults 
        [heading]=getObj.Header 
        [keysFilter]=getObj.Filter 
        [uniqueKey]=getObj.Unique
        [expandColumn]=getObj.ExpandColumn
        [expandKey]=getObj.ExpandKey
        [expandHeading]=getObj.ExpandHeading
        [buttons]=getObj.buttons></app-expandable-table-with-buttons>
</div>
<div class=row>
    <app-expandable-table-with-buttons 
        [data]=openService.searchResults 
        [heading]=resultObj.Header 
        [keysFilter]=resultObj.Filter 
        [uniqueKey]=resultObj.Unique
        [expandColumn]=resultObj.ExpandColumn
        [expandKey]=resultObj.ExpandKey
        [expandHeading]=resultObj.ExpandHeading></app-expandable-table-with-buttons>
</div>