<br><br>
<div class=row>
    <div class=column>
        <div class=contentbox>
            <input pInputText [(ngModel)]="subject" placeholder="Subject"/>
            <br>
            <input pInputText [(ngModel)]="course" placeholder="Course"/>
            <br>
            <button pButton type="button" label="Search" (click)="mainSearch()"></button>
        </div>
        <br>
        <div class=contentbox>
            <input pInputText [(ngModel)]="courseListName" placeholder="Course List Name"/>
            <br>
            <input pInputText [(ngModel)]="courseListDesc" placeholder="Description (Optional)"/>
            <br>
            <select [(ngModel)]="courseListPrivate">
                <option [value]="true" selected>private</option>
                <option [value]="false">public</option>
            </select>
            <br>
            <button pButton type="button" label="Create" (click)="createCourseList()"></button>
        </div>
    </div>
    <app-expandable-table-with-buttons 
        [data]=secureService.courseListResults 
        [heading]=listObj.Header 
        [keysFilter]=listObj.Filter 
        [uniqueKey]=listObj.Unique
        [expandColumn]=listObj.ExpandColumn
        [expandKey]=listObj.ExpandKey
        [expandHeading]=listObj.ExpandHeading
        [buttons]=listObj.buttons
        (actionEvent)=executeButtonAction($event)></app-expandable-table-with-buttons>
</div>
<div class=row>
    <app-expandable-table-with-buttons 
        [data]=openService.searchResults 
        [heading]=resultObj.Header 
        [keysFilter]=resultObj.Filter 
        [uniqueKey]=resultObj.Unique
        [expandColumn]=resultObj.ExpandColumn
        [expandKey]=resultObj.ExpandKey
        [expandHeading]=resultObj.ExpandHeading
        [buttons]=resultObj.buttons
        (actionEvent)=executeButtonAction($event)></app-expandable-table-with-buttons>
</div>
<p-dialog [header]="'Enter review for '+reviewInp.subject+' '+reviewInp.course" [(visible)]="reviewInp.visible">
    <textarea pInputTextarea [(ngModel)]="reviewInp.content"></textarea><br>
    <button pButton type="button" label="Submit" (click)="submitReview()"></button>
</p-dialog>