<br><br>
<div class=row>
    <div class=column>
        <div class=contentbox>
            <label>Subject:
                <input [(ngModel)]="subject" placeholder="Subject"/>
            </label>
            <br>
            <label>Course:
                <input [(ngModel)]="course" placeholder="Course"/>
            </label>
            <br>
            <button (click)="mainSearch()" >
                Search
            </button>
        </div>
        <br>
        <div class=contentbox>
            <label>Course List Name:
                    <input [(ngModel)]="courseListName" placeholder="Course List Name"/>
            </label>
            <br>
            <label>Course List Description:
                <input [(ngModel)]="courseListDesc" placeholder="Description (Optional)"/>
            </label>
            <br>
            <label>Private ?
                <select [(ngModel)]="courseListPrivate">
                    <option [value]="true" selected>true</option>
                    <option [value]="false">false</option>
                </select>
            </label>
            <br>
            <button (click)="createCourseList()">
                Create
            </button>
        </div>
    </div>
    <app-expandable-table-with-buttons 
        [data]=secureService.courseListResults 
        [heading]=listObj.Header 
        [keysFilter]=listObj.Filter 
        [uniqueKey]=listObj.Unique
        [expandColumn]=listObj.ExpandColumn
        [expandKey]=listObj.ExpandKey
        [expandHeading]=listObj.ExpandHeading
        [buttons]=listObj.buttons></app-expandable-table-with-buttons>
</div>
<div class=row>
    <app-expandable-table-with-buttons 
        [data]=openService.searchResults 
        [heading]=resultObj.Header 
        [keysFilter]=resultObj.Filter 
        [uniqueKey]=resultObj.Unique
        [expandColumn]=resultObj.ExpandColumn
        [expandKey]=resultObj.ExpandKey
        [expandHeading]=resultObj.ExpandHeading
        [buttons]=resultObj.buttons></app-expandable-table-with-buttons>
</div>